<%- include("../../partials/head.ejs") %>
<%- include("../../partials/navbar.ejs") %>
<div class="container">
    

        <div class="card mt-5 bg-transparent">
            <div class="card-header">
                <h3 class="text-white">EDITAR ARTIGO</h3>
            </div>


            <div class="card-body">

                <form action="/articles/update" method="POST" class="form-control bg-transparent border-0">
                    <div class="row">
                        <div class="col">
                            <div class="form-floating m-3">
                                <input class="form-control" id="floatingInputValue" type="text" name="title" required value="<%= article.title %>" >
                                <label for="floatingInputValue" class="text-blue ">Titulo do Artigo</label>
                              </div>
                        </div>
                        <div class="col">
                            <div class="form-floating m-3">
                                <select class="form-select" name="categoryId" id="category" aria-label="Floating label select example">
                                    <% categories.forEach((category)=>{ %>
                                        <% if (category.id == article.categoryId) { %>
                                            <option value="<%= category.id %>" selected><%= category.title %> </option>
                                        <% } else {%>
                                            <option value="<%= category.id %> "><%= category.title %> </option>
                                    <% }}) %>
                                </select>
                                <label for="floatingSelect" class="text-blue ">Selecione sua categoria</label>
                              </div>
                        </div>
                    </div>
                   

                    <label for="floatingTextarea" class="text-blue m-3 mb-0 fs-5">Seu Artigo</label>
                <div class="form-floating m-3">
                    
                    <textarea class="form-control" placeholder="Digite seu Artigo" name="body" required><%= article.body %></textarea>
                    
                  </div>
            
             
                <input type="hidden" name="id" value="<%= article.id %> ">
                <div class="next-box">
                    
                    <button class="btn float-end   m-2"> <span></span>
                        <span></span>
                        <span></span>
                        <span></span>Atualizar</button>
                </div>
                
                </form> 
            </div>
        </div>
    
</div>
<%- include("../../partials/footer.ejs") %>